{
  "AllowedHosts": "*",
  "AzureAdB2C": {
    "Instance": "https://auth.dev.cliniciannexus.com",
    "Domain": "auth.dev.cliniciannexus.com",
    "ClientId": "f99cafc6-2162-40e7-8f0d-946c2e3319a5",
    "SignedOutCallbackPath": "/signout/B2C_1A_CN_HRD_SIGNIN",
    "SignUpSignInPolicyId": "B2C_1A_CN_HRD_SIGNIN"
  },  
  "AwsConfiguration": {
    "AWSBucketName": "dev-mpt-etl-source-data-472485266432"
  },
  "Swagger": {
    "isEnabled": "false"
  },
  "Kestrel": {
    "Endpoints": {
      "HttpsInlineCertAndKeyFile": {
        "Url": "https://*:8001",
        "Certificate": {
          "Path": "/usr/local/share/ca-certificates/aspnet/https.crt",
          "KeyPath": "/usr/local/share/ca-certificates/aspnet/https.key",
          "Password": "123password"
        }
      }
    }
  },
  "isOktaAuth": true,
  "BuildNumber": "{{ build_number }}"
}
