### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

.terraform
.terraform-output-cache
terraform.tfplan
terraform.tfstate.backup
terraform.tfstate
terraform.tfvars
terraform.tfvars.*
