<div class="card" id="JobMatchDetail">
    <div class="card-header">
        <div class="card-title">Job Match Detail</div>
    </div>
    <div class="card-body">
        <div class="card-group-3">
            <div class="card-label-default">Survey Job Match Title:</div>
            <div class="card-value">{0}</div>
        </div>
        <div class="card-group-3">
            <div class="card-label-default">Job Match Notes:</div>
            <div class="card-value">{1}</div>
        </div>
        <div class="card-group-1">
            <div class="card-label-default">Job Match Description:</div>
            <div class="card-value">
                {2}
            </div>
        </div>
    </div>
</div>