<div class="card">
    <div class="card-header">
        <div class="card-title">Market Data Detail</div>
    </div>
    <div class="card-body">
        {0}
        <table id="marketTable">
            <thead>
                <tr>
                    <th colspan="{1}">Survey Cut Details</th>
                    <!--Benchmarks-->
                    {2}
                </tr>
                <tr>
                    <!--Each row-->
                    {3}

                    <!--Percentile per Benchmark-->
                    {4}
                </tr>
            </thead>
            <tbody id="surveyDetails">
                {5}
            </tbody>
            <tbody id="surveyAverage">
                {6}
            </tbody>
        </table>
    </div>
</div>