<div class="card">
    <div class="card-header">
        <div class="card-title">Notes</div>
    </div>
    <div class="card-body">
        <div class="card-group-2">
            <div class="card-label-default">Aging Factor:</div>
            <div class="card-value">
                {0}
            </div>
        </div>
        <div class="card-group-2">
            <div class="card-label-default">Notes:</div>
            <div class="card-value">
                {1}
            </div>
        </div>
        <div class="card-group-3">
            <div class="card-label-default">External Survey User Restrictions:</div>
            <div class="card-value">{2}</div>
        </div>
    </div>
</div>