[ODBC Data Sources]
Simba Spark ODBC Driver=Databricks ODBC Connector

[Simba Spark ODBC Driver]
Driver=/opt/simba/spark/lib/64/libsparkodbc_sb64.so
Host=cn-us-east-1-nonprod-ws01.cloud.databricks.com
Port=443
HTTPPath=/sql/1.0/warehouses/081b0449e5f80e80
ThriftTransport=2
SSL=1
AuthMech=3
UID=token
PWD={{ pwd }}
