fullnameOverride: {{ project_name }}-{{ environment }}
namespace:
  name: {{ product }}

service:
  port: 7211
  targetPort: 7211
  name: {{ project_name }}-{{ environment }}
  type: ClusterIP

image:
  repository: '{{ ss_tools_ecr_url }}/{{ project_name }}-ecr-repo'
  tag: '{{ docker_image_tag }}'
  pullPolicy: 'Always'

replicaCount: 1

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

securityContext:
  runAsUser: 1000  # UID user
  runAsNonRoot: true

ingress:
  enabled: false

envvars:
  - name: "CN_ORGANIZATIONSERVERURL"
    value: "https://{{ product }}.cliniciannexus.com:7004"
  - name: "CN_AZUREADB2C__INSTANCE"
    value: "https://auth.cliniciannexus.com"
  - name: "CN_AZUREADB2C__DOMAIN"
    value: "auth.cliniciannexus.com"
  - name: "CN_AZUREADB2C__SIGNEDOUTCALLBACKPATH"
    value: "/signout/B2C_1A_CN_HRD_SIGNIN"
  - name: "CN_AZUREADB2C__SIGNUPSIGNINPOLICYID"
    value: "B2C_1A_CN_HRD_SIGNIN"

environment: {{ environment }}